---
import Glow from '@/components/ui/glow.astro';
import Title from '@/components/ui/title.astro'
import { TabsDemo } from './service-list';
---

<section id="services" class="relative overflow-hidden">
    <div class="container min-h-[85vh] flex pb-4 lg:pb-32 lg:pt-0 xl:pt-48 xl:pb-[22rem] flex-col gap-y-8 items-start justify-center overflow-hidden ">
        <Title title='Cuatro' active='Servicios' className=''/>
        <TabsDemo client:visible />
    </div>
    <Glow className='before:-right-12 before:bottom-28 lg:before:bottom-96 before:opacity-[0.4] lg:before:opacity-[0.6]'/>

</section>