---
import Glow from "@/components/ui/glow.astro";
import Title from "@/components/ui/title.astro";
import ServiceLis from "./service-list.astro";
import ServiceList from "./ServicesList";
---

<section id="services" class="relative overflow-hidden">
  <div
    class="container flex min-h-[90vh] flex-col items-start justify-start overflow-hidden lg:mt-14 min-1130:mt-24 xl:mt-36"
  >
    <Title title="Cuatro" active="Servicios" className="" />
    <ServiceList client:visible />
  </div>
  <Glow
    className="before:-right-12 before:bottom-28 before:opacity-[0.4] lg:before:bottom-96 lg:before:opacity-[0.6]"
  />
</section>
