---
import IconArrowX from "@/components/icons/icon-arrow-x";
import ServiceCard from "./service-card";
import { services } from "../../../consts/services";
---

<section
  class="relative flex h-[90vh] w-full items-center justify-center max-lg:hidden"
>
  <swiper-container
    id="swiper-container-services"
    key="services-carousel"
    init="false"
  >
    {
      services.map((service) => (
        <swiper-slide class="flex items-center justify-center transition-all duration-500">
          <ServiceCard service={service} className="" />
        </swiper-slide>
      ))
    }
  </swiper-container>

  <button
    class="prev-button-services absolute left-4 top-1/2 -translate-y-1/2 transition-colors lg:-left-8"
    ><IconArrowX right={false} className="" /></button
  >
  <button
    class="next-button-services absolute right-4 top-1/2 -translate-y-1/2 transition-colors lg:-right-8"
    ><IconArrowX right className="" /></button
  >
</section>

<style>
  .prev-button-services,
  .next-button-services {
    background-color: white;
    border-radius: 99999px;
    padding: 0.04rem;
    border: solid 4px black;
    z-index: 1;
  }

  .prev-button-services:hover,
  .next-button-services:hover {
    @apply bg-primary;
  }

  @media (min-width: 1024px) {
    .prev-button-services,
    .next-button-services {
      padding: 0.4rem;
      border: solid 6px black;
    }
  }
</style>

<script>
  import { register } from "swiper/element/bundle";
  register();
  const swiperElServices = document.querySelector(
    "swiper-container",
  ) 

  // swiper parameters

  const swiperParams = {
    navigation:true,
    navigationNextEl: ".next-button-services",
    navigationPrevEl: ".prev-button-services",
    initialSlide:"2",
    slidesPerView:"3",
    speed:"800",
    loop:"true",
    slideActiveClass:"active-slide",
    simulateTouch:"false",
    centeredSlides:"true",
    slideNextClass:"swiper-slide-next",
    slidePrevClass:"swiper-slide-prev",
    on: {
      init() {
        // ...
      },
    },
  };

  // now we need to assign all parameters to Swiper element
  Object.assign(swiperElServices!, swiperParams);

  // and now initialize it
  swiperElServices!.initialize();
</script>


{/*
    navigation="true"
    navigation-next-el=".next-button-services"
    navigation-prev-el=".prev-button-services"
    initial-slide="2"
    slides-per-view="3"
    speed="800"
    loop="true"
    class="relative flex h-[90%] w-full"
    slide-active-class="active-slide"
    simulate-touch="false"
    centered-slides="true"
    slide-next-class="swiper-slide-next"
    slide-prev-class="swiper-slide-prev" 
*/}