---
import IconArrowUp from "../icons/icon-arrow-up.astro";
---

<div
  id="button-up"
  class="fixed bottom-2 right-2 z-[99999] opacity-0 transition-opacity"
>
  <button
    id="scroll-to-top"
    aria-label="Volver al inicio de la página"
    class="hover:border-accent group flex size-12 cursor-default items-center justify-center rounded-xl border-2 border-white bg-black/10 text-white backdrop-blur hover:scale-105 motion-safe:transition"
  >
    <IconArrowUp
      className="group-hover:text-accent h-6 w-6 -rotate-45 group-hover:-rotate-0 motion-safe:transition"
    />
  </button>
</div>

<script>
  let timeout: number = 0;
  const $button = document.getElementById("scroll-to-top") as HTMLButtonElement;

  const DISPLAY = { BLOCK: "block", NONE: "none" } as const;

  function toggleScrollToTop() {
    const scrollTop =
      document.body.scrollTop || document.documentElement.scrollTop;
    const display = scrollTop > 200 ? DISPLAY.BLOCK : DISPLAY.NONE;

    if ($button) {
      const parent = $button.closest("#button-up");
      parent?.classList.toggle("opacity-0", display === DISPLAY.NONE);
      $button.classList.toggle("cursor-default", display === DISPLAY.NONE);
    }
  }

  function throttledScrollHandler() {
    if (!timeout) {
      timeout = requestAnimationFrame(() => {
        toggleScrollToTop();
        timeout = 0;
      });
    }
  }

  window.addEventListener("scroll", throttledScrollHandler);

  $button.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>
