<div class=" w-full flex -z-10 items-center justify-end static lg:absolute lg:-bottom-48 opacity-50 lg:right-0">
    <img src="/assets/images/graphic-logo.webp" alt="Figura del logo Winforge" width="500" height="500" class="h-[16rem] lg:w-[40rem] lg:h-[31.5rem] 2xl:w-[44rem] 2xl:h-[33rem] animate-fade-in-left animate-delay-1000 animate-duration-500 w-[20rem]"/>
</div>