<div
  class="static -z-10 flex w-full items-center justify-end opacity-50 lg:absolute lg:-bottom-52 lg:right-0"
>
  <img
    src="/assets/images/graphic-logo.webp"
    alt="Figura del logo Winforge"
    width="500"
    height="500"
    class="h-[19rem] w-[24rem] animate-fade-in-left animate-delay-1000 animate-duration-500 md:h-[30rem] md:w-[37rem] lg:h-[37rem] lg:w-[43rem] xl:h-[40rem] xl:w-[50rem]"
  />
</div>
