<div
  class="static -z-10 -mt-6 flex w-full items-center justify-end opacity-50 sm:-mt-16 lg:absolute lg:-bottom-64 lg:right-0 xl:-bottom-52"
>
  <img
    src="/assets/images/graphic-logo.webp"
    alt="Figura del logo Winforge"
    width="500"
    height="500"
    class="h-[14rem] w-[18rem] animate-fade-in-left animate-delay-1000 animate-duration-500 sm:h-[25rem] sm:w-[31rem] md:h-[32rem] md:w-[40rem] lg:h-[39rem] lg:w-[47rem] xl:h-[41rem] xl:w-[50rem]"
  />
</div>
