<a href="/#" class="inline-block hover:scale-[1.02] transition-transform">
    <img src="/logo.webp" width="100" height="100" alt="Winforge logo" class="w-24 h-[4.25rem] lg:w-[6.25rem] lg:h-[4.375rem]" />
</a>