---
import Title from "@/components/ui/title.astro";
import { aspects } from "@/consts/aspects";
---

<section id="about-us" class="relative overflow-hidden 2xl:mt-0">
  <div
    class="container relative flex mt-4 min-h-[75vh] sm:min-h-[80vh] pb-20 lg:pb-0 lg:mt-36  flex-col items-start justify-start overflow-hidden lg:justify-center"
  >
    <div class="mb-4 md:mb-4 lg:mb-0">
      <Title title="Somos" active="Winforge" className="" />
d      <p
        class="mt-4 hidden leading-7 font-thin text-white md:block md:w-[20rem] md:text-[17px] lg:w-[23rem] lg:text-[19px]"
      >
        La forja es un lugar que se침ala tres aspectos centrales de todo
        proyecto:
      </p>
    </div>
    <section class="flex flex-col-reverse md:flex-row">
      <div class="flex flex-col items-center md:-ml-[56px] md:min-w-[30rem]">
        <img
          src="/assets/images/Kepler.png"
          class="min-w-[15rem] md:w-[44rem]"
        />
        <p
          class="max-w-[80%] text-wrap bg-black/80 font-myriad text-[20.5px] font-thin leading-5 text-gray-100/90 sm:text-[23px] md:leading-6 lg:text-[25px]"
        >
          La c치mara oscura, por <strong class="italic md:font-semibold"
            >Johannes Kepler</strong
          > en 1604. Servir치 para desarrollar el telescopio y luego la c치mara de
          fotos.
        </p>
      </div>
      <div class="flex flex-col justify-center">
        <p
          class="mb-4 max-w-[34rem] bg-black/60 text-[15px] font-thin leading-6 text-gray-200 sm:text-[15.5px] md:-mt-16 md:mb-7 md:min-w-[13rem] md:items-center lg:-mt-12 lg:text-[20px]"
        >
          Crear los procesos que permitan <strong class="font-semibold"
            >comunicar</strong
          > nuevas empresas e <strong class="font-semibold">impulsar</strong> las
          existentes. Nos enfocamos en la imagen, el mensaje y las plataformas digitales.
        </p>
        <p
          class="text-[15.5px] font-medium leading-6 text-secondary md:items-center lg:text-[21px]"
        >
          Forjar una propuesta clara, inspiradora e impactante.
        </p>
      </div>
    </section>
  </div>
</section>

<style>
  /* Estilos para el primer hijo */
  .aspects .aspect-item:nth-child(1) {
    align-items: start;
  }

  /* Estilos para el segundo hijo */
  .aspects .aspect-item:nth-child(2) {
    align-items: center;
  }

  /* Estilos para el tercer hijo y posteriores */
  .aspects .aspect-item:nth-child(n + 3) {
    align-items: flex-end;
  }

  @media (min-width: 768px) {
    /* Estilos para el primer hijo */
    .aspects .aspect-item:nth-child(1) {
      align-items: center;
    }

    /* Estilos para el segundo hijo */
    .aspects .aspect-item:nth-child(2) {
      align-items: center;
    }

    /* Estilos para el tercer hijo y posteriores */
    .aspects .aspect-item:nth-child(n + 3) {
      align-items: center;
    }
  }
</style>
