---
import { HeadinPrincipal } from "../ui/heading-principal";
import WordRotate from "../ui/word_rotate";
import GraphicFigureLogo from "../widgets/graphic-figure-logo.astro";
---

<section id="hero">
  <div
    class="container relative flex h-auto w-full flex-col items-start pb-24 pt-48 lg:min-h-[calc(100vh-10rem)] lg:justify-center"
  >
    <section class="">
      <HeadinPrincipal
        client:load
        words="Forjar el camino en el detalle y los valores"
        className="h1 mb-5 font-normal text-white max-md:max-w-[30rem] md:max-w-[640px] lg:mb-7 xl:max-w-[45rem] 2xl:max-w-[50rem]"
      />
      <p
        class="animate-fade-in-up text-[17px] font-thin text-gray-200 animate-delay-[1200ms] animate-duration-500 max-sm:max-w-[20rem] sm:w-[25rem] sm:text-[20px] md:w-[34rem] md:text-[26px] md:leading-9 lg:text-[28px]"
      >
        Transformamos tu visión empresarial en una realidad digital con
      </p>
      <WordRotate
        client:load
        words={[
          "Diseño y Estrategia",
          "Desarrollo Web",
          "Gestión Multimedia",
          "Producción de Contenido",
        ]}
      />
      <div
        class="flex animate-fade-in-up items-center gap-x-4 text-sm animate-delay-[1800ms] animate-duration-500 lg:text-base"
      >
        <a
          href="#about-us"
          class="btn-learn-more inline-block rounded-full border-2 border-white px-[14px] py-2 font-inter text-xs font-normal tracking-widest text-white transition-all hover:scale-[1.03] hover:bg-white hover:text-black sm:px-4 sm:text-sm sm:font-bold lg:px-6 lg:text-base"
          >CONOCÉ MÁS</a
        >
      </div>
    </section>
  </div>
</section>

<GraphicFigureLogo />

<div class="glow pointer-events-none"></div>

<style>
  .glow-2::before,
  .glow::after,
  . {
    background: var(--primary-glow);
    width: 240px;
    height: 180px;
    z-index: -1;
  }

  .glow::before {
    z-index: -1;
  }

  .glow::before,
  .glow::after {
    content: "";
    top: 20%;
    left: -32%;
    position: absolute;
    opacity: 10;
    filter: blur(35px);
    transform: translateZ(0);
  }

  .glow-2::before,
  .glow-2::after {
    content: "";
    bottom: 34%;
    right: -2%;
    opacity: 0.4;
    position: absolute;
    filter: blur(70px);
    transform: translateZ(0);
  }
  @media (min-width: 640px) and (max-width: 1024px){
    .glow::before,
    .glow::after {
      left: -10%;
    }
  }

  @media (min-width: 1024px) {
    .glow::before,
    .glow::after {
      left: -6%;
      top: 22%;
    }
  }
</style>
