---
import Header from '@/components/widgets/header.astro';
import Footer from '@/components/widgets/footer.astro'
import Layout from '@/layouts/Layout.astro';

// Sections
import Projects from '@/components/sections/projects/index.astro'
import Services from '@/components/sections/services/index.astro'
import Contact from '@/components/sections/contact/index.astro'
import AboutUs from '@/components/sections/about-us.astro'
import Team from '@/components/sections/team/index.astro'
import Hero from '@/components/sections/hero.astro'
---

<Layout title="WinForge | Desarrollo Empresarial y Potenciación Digital">
	<Header />
	<main>
			<Hero />
			<AboutUs />
			<Services/>
			<Team />
			<!-- <Projects /> -->
			<Contact/>
	</main>
	<Footer />	
</Layout>


