---
import Glow from "@/components/ui/glow.astro";
import Form from "./form";
---

<section id="contact" class="relative overflow-hidden">
  <div
    class="container relative flex min-h-screen flex-col items-center justify-between gap-8 overflow-hidden pb-12 lg:flex-row lg:gap-16 lg:pb-0"
  >
    <!-- <div class="rounded-2xl w-full !min-w-48 h-[480px] lg:min-w-[2rem] bg-white order-1 lg:order-none"></div> -->
    <div
      class="calendly-inline-widget order-1 h-full w-full !min-w-48 rounded-2xl bg-white lg:order-none lg:min-w-[36.5rem]"
      data-url="https://calendly.com/info-roh0/30min?hide_event_type_details=1&hide_gdpr_banner=1"
      style="min-width:584px;height:480px;border-radius:1rem;"
    >
    </div>

    <Form client:load />
  </div>

  <Glow
    className="before:bottom-[40rem] before:right-[12%] before:opacity-[0.4] lg:before:-right-[2%] lg:before:bottom-[40%] lg:before:opacity-[0.6]"
  />
</section>
<script
  is:inline
  src="https://assets.calendly.com/assets/external/widget.js"
  async></script>
