---
interface TeamI {
    id : number
    name : string
    rol : string
    image : string
}

interface Props {
    card : TeamI
}

const { card } = Astro.props

---

<article class={`bg-primary shadow-lg shadow-primary/10 mt-[4.5rem] lg:mt-0 h-64  text-white rounded-3xl hover:scale-[1.03] z-20 transition-all px-4 flex flex-col items-center w-56`}>
   
    <header class=" flex items-center gap-2 -mt-16 z-10   pb-6">
        <img src={card.image} alt={`Photo of ${card.name}`} width="144" height="144" class="ring-8 rounded-full ring-dark-2"/>
    </header>
    <div class="h-28  flex items-center justify-between mx-auto flex-col gap-y-4  ">

        <h3 class="uppercase font-bold text-center w-20">{card.name}</h3>
        <div class=" w-28 rounded-full h-[2px] bg-white/70 mx-auto "></div>
        <h4 class="text-xs font-medium text-center uppercase">{card.rol}</h4>
    </div>
</article>