---
import ProjectList from "./ProjectList";
import ProjectsList2 from "./projects-list copy.astro";
import Title from "@/components/ui/title.astro";
import Glow from "@/components/ui/glow.astro";
---

<section id="projects" class="relative">
  <div
    class="oveflow-hidden relative flex h-[80vh] flex-col items-start justify-center gap-x-12 gap-y-3 pb-44 lg:pb-0"
  >
    <Title title="Proyectos" active="Forjados" className="container"/>
    <Title title="Proyectos" active="Forjados" className="container"/>

      <ProjectList client:only/>
      <ProjectList client:only/>
    </div>
  </div>
  <Glow
    className="before:bottom-auto before:left-[24rem] before:right-auto before:top-24 before:opacity-[0.5] lg:before:opacity-[0.8]"
  />
</section>
