---
import ProjectsList from "./projects-list.astro";
import Title from "@/components/ui/title.astro";
import Glow from "@/components/ui/glow.astro";
---

<section id="projects" class="relative">
  <div
    class="oveflow-hidden container relative flex min-h-screen flex-col items-start justify-center gap-x-12 gap-y-3 pb-44 lg:pb-0"
  >
    <Title title="Proyectos" active="Forjados" />

    <div
      class="flex w-full flex-col items-start justify-between gap-14 lg:flex-row"
    >
      <p class="w-auto text-start text-lg text-white lg:text-base">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dolorem
        nihil quasi nam vitae, consequatur commodi, hic necessitatibus dolor
        eveniet fugit doloremque explicabo praesentium voluptatibus rem eius,
        perferendis corrupti asperiores. Deserunt animi facilis iure, fugit
        sequi eum, libero natus rem dolor repudiandae saepe provident laboriosam
        debitis. Officia animi quod ipsa et soluta fuga mollitia reprehenderit.
        Provident sint dolores repellendus earum.
      </p>
      <ProjectsList />
    </div>
  </div>
  <Glow
    className="before:bottom-auto before:left-[24rem] before:right-auto before:top-24 before:opacity-[0.5] lg:before:opacity-[0.8]"
  />
</section>
