---
import ProjectsList from "./projects-list.astro";
import ProjectList from "./ProjectList";
import Title from "@/components/ui/title.astro";
import Glow from "@/components/ui/glow.astro";
---

<section id="projects" class="relative">
  <div
    class="oveflow-hidden container relative flex min-h-screen flex-col items-start justify-center gap-x-12 gap-y-3 pb-44 lg:pb-0"
  >
    <Title title="Proyectos" active="Forjados" className=""/>

      <ProjectList />
    </div>
  </div>
  <Glow
    className="before:bottom-auto before:left-[24rem] before:right-auto before:top-24 before:opacity-[0.5] lg:before:opacity-[0.8]"
  />
</section>
