---
import IconArrowX from "@/components/icons/icon-arrow-x"
import { Projects } from "../../../consts/projects.ts"
---

<section class="relative w-full">
  <div
    class="swiper w-full"
  
  >
    <div class="swiper-wrapper flex items-center">
      {
        Projects.map((item) => (
          <div class="swiper-slide h-full overflow-hidden flex">
            <div class="w-full flex justify-center">
              <img
                src={item.image}
                class="place-items-center cursor-pointer w-36"
                alt="placeholder image"
              />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
.swiper-wrapper {
}

.swiper-slide {
}

.swiper-slide-active {
}

</style>

<script>

  let windowWidth = window.innerWidth;
  window.addEventListener("resize", () => onResize())
  const onResize = () => {
    windowWidth = window.innerWidth
  }

  let centeredSlide
  if (windowWidth < 640) {
    centeredSlide = 1;
  } else if (windowWidth < 768) {
    centeredSlide = false;
  } else if (windowWidth < 1024) {
    centeredSlide = 2;
  } else {
    centeredSlide = 3;
  }

  import Swiper from 'swiper';
  import 'swiper/css';
  const swiper = new Swiper('.swiper', {
    loop: true,
    initialSlide: 1,
    simulateTouch: false,
    slideActiveClass: 'swiper-slide-active',
    speed: 1000,
    breakpoints: {
      640: {
        slidesPerView: 2,
      },
      768: {
        slidesPerView: 3,
      },
      1024: {
        slidesPerView: 5,
      }
    }
    
  });

</script>

{/*navigation="true"
    navigation-next-el=".custom-next-button"
    navigation-prev-el=".custom-prev-button"
    centered-slides="true"
    simulate-touch="true"
    slide-active-class=".swiper-slide-active"
    breakpoints={{
      640: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 3,
      },
      1024: {
        slidesPerView: 5,
        spaceBetween: 10,
      },
    }}*/}