---
import IconArrowX from "@/components/icons/icon-arrow-x"
import { Projects } from "../../../consts/projects.ts"
---

<section class="relative w-full">
  <swiper-container
    navigation="true"
    navigation-next-el=".custom-next-button"
    navigation-prev-el=".custom-prev-button"
    centered-slides="true"
    simulate-touch="true"
    slide-active-class=".swiper-slide-active"
    breakpoints={{
      640: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 3,
      },
      1024: {
        slidesPerView: 5,
        spaceBetween: 10,
      },
    }}
    class="swiper-2 mx-auto w-56 rounded-2xl lg:mx-0 lg:w-full "
  >
    {
      Projects.map((item, index) => (
        <swiper-slide class="h-96 w-56 overflow-hidden rounded-2xl flex items-center">
          <img
            src={item.image}
            class="w-32"
            alt="placeholder image"
          />
        </swiper-slide>
      ))
    }
  </swiper-container>
</section>

<style>
.swiper-slide-active {
  transform: scale(1.2);
  margin-top: 20px;
  z-index: 20;
}

</style>

<script>
  import { register } from "swiper/element/bundle";
  register();
  const swiperElProjects = document.querySelector("swiper-container");

  // swiper parameters
  const swiperParams = {
    spaceBetween: 10,
    simulateTouch: true,
    on: {
      init() {
        // ...
      },
    },
  };

  // now we need to assign all parameters to Swiper element
  Object.assign(swiperElProjects!, swiperParams);

  // and now initialize it
  swiperElProjects!.initialize();
</script>
