---
import { cn } from '@/lib/cn';
interface Props {
    className? : string

}


const { className } = Astro.props

---


<div class={cn("absolute -top-0 left-0 w-full h-full -z-10", className)}>
    <div class="lg:object-contain relative object-cover">
        <img src="/background.webp" alt="background universe" draggable="false" class="hidden lg:block w-full h-full brightness-[.1] opacity-80 gradient-bottom"/>
        <img src="/background-mobile.webp" alt="background universe" draggable="false" class="w-full h-screen brightness-[.1] block lg:hidden gradient-bottom "/>
       
    </div>
</div>

<style>
    .gradient-bottom {
        mask-image: linear-gradient(
            black 80%,
            transparent
        );
    }
</style>